<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.html</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrapLogin.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/css/Dark-NavBarLogin.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/img/star-sky.jpg">

    
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;OutdoorMessage</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="login" style="color:#ffffff;"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="forum" style="color:#ffffff;"><i class="fa fa-user-circle-o"></i>Forum</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="calendar" style="color:#ffffff;"><i class="fa fa-calendar"></i>&nbsp;Calendar</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="helpDesk" style="color:#ffffff;"><i class="fa fa-gear"></i>&nbsp;<mark>Help Desk</mark></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="loggedOut" id="logOutBtn" style="color:#ffffff;"><i class="fa fa-sign-out"></i>&nbsp;Log out</a></li>
                    </ul>
            </div>
        </div>
        </nav>
    </div>
    
    <div class="login-dark">
            <form method="post" id="formSignUp">
                <h2 class="sr-only">Help desk form</h2>
                <div class="illustration"><i class="fa fa-gear"></i></div>
                <div class="form-group"><input class="form-control" type="text" name="firstname" id="firstName" placeholder="Fist name"></div>
                <div class="form-group"><input class="form-control" type="text" name="lastname" id="lastName" placeholder="Last name"></div>
    
                <div class="form-group"><input class="form-control" type="email" name="email" id="userEmail" placeholder="Email"></div>
                <div class="form-group"><textarea class="form-control" name="description" form="usrform" placeholder="Describe your problem" id="problemDescriptionID"></textarea></div>

                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" id="submitProblem" >Submit problem</button>
    
        </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src =https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js></script>
    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>


    <script type="text/javascript" src="/js/helpDesk.js">
       
    </script>

</body>

</html>