<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.html</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrapLogin.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/css/Dark-NavBarLogin.css">
    <link rel="stylesheet" href="/css/Login-Form-DarkLogin.css">
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <link rel="stylesheet" href="/img/star-sky.jpg">
    <link rel="stylesheet" type="text/css" media="screen" href="css/login.css" />

</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;OutdoorMessage</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="login" style="color:#ffffff;"><i class="fa fa-home"></i>&nbsp;<mark>Home</mark></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="forum" style="color:#ffffff;"><i class="fa fa-user-circle-o"></i>Forum</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="calendar" style="color:#ffffff;"><i class="fa fa-calendar"></i>&nbsp;Calendar</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="helpDesk" style="color:#ffffff;"><i class="fa fa-gear"></i>&nbsp;Help Desk</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="loggedOut" id="logOutBtn" style="color:#ffffff;"><i class="fa fa-sign-out"></i>&nbsp;Log out</a></li>
            </ul>
            </div>
    </div>
    </nav>
    </div>
    <div class="login-dark">
<!-- Container for the image gallery -->
<div class="container">

        <!-- Full-width images with number text -->
        <div class="mySlides">
          <div class="numbertext">1 / 6</div>
            <img src="/img/img_woods_wide.jpg" style="width:100%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">2 / 6</div>
            <img src="/img/img_fjords_wide.jpg" style="width:100%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">3 / 6</div>
            <img src="/img/img_mountains_wide.jpg" style="width:100%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">4 / 6</div>
            <img src="/img/img_lights_wide.jpg" style="width:100%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">5 / 6</div>
            <img src="/img/img_nature_wide.jpg" style="width:100%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">6 / 6</div>
            <img src="/img/img_snow_wide.jpg" style="width:100%">
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      
        <!-- Image text -->
        <div class="caption-container">
          <p id="caption"></p>
        </div>
      
        <!-- Thumbnail images -->
        <div class="row">
          <div class="column">
            <img class="demo cursor" src="/img/img_woods.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
          </div>
          <div class="column"> 
            <img class="demo cursor" src="/img/img_fjords.jpg" style="width:100%" onclick="currentSlide(2)" alt="Trolltunga, Norway">
          </div>
          <div class="column">
            <img class="demo cursor" src="/img/img_mountains.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
          </div>
          <div class="column">
            <img class="demo cursor" src="/img/img_lights.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
          </div>
          <div class="column">
            <img class="demo cursor" src="/img/img_nature.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
          </div> 
          <div class="column">
            <img class="demo cursor" src="/img/img_snow.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
          </div>
        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src =https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js></script>

    <script type="text/javascript" src="/js/login.js">

    
    </script>
</body>

</html>